section.section.awards-section 
  .awards 
    .awards__content
      h4.awards__title Наша студия в цифрах
      .awards-grid 
        .awards__item
          .awards__value 02
          .awards__desc Награды
        .awards__item
          .awards__value 02
          .awards__desc Награды
        .awards__item
          .awards__value 02
          .awards__desc Награды
        .awards__item
          .awards__value 02
          .awards__desc Награды
    .awards__image 
      img.awards__image-src(src="/src/assets/images/numbers.jpg" alt="")