section.section.full-width-block
  .black-bg-block.block
    .container.black-bg-block-inner
      h3.block__title Наш подход к созданию лендингов
      p.block__content Основное различие обычной и посадочной страниц в том, что landing page создается с целью продвижения и продажи товара или услуги. Обычный сайт многофункционален.






