section.section.container.container--lines.case-grid-section
  .case-category 
    .case-category__item.case-category__item--current Вид
    .case-category__item Дизайн-поддержка
    .case-category__item Продвижение
  .case-grid