section.container.container--lines.hero-section.hero.case-hero 
  h1.hero__title.title Лендинги
  .case-offer
    h4.case-offer__title Что мы предлагаем
    .case-offer__desc Офигенные, продуманные лендинги с крутым сторителлингом для любого проекта
  .hero__content.hero-content(style="--background-color: #4655D8")
    .hero-content-inner.js-hero-content-diagonal 
      .hero-content__item.js-diagonal-item
        img.hero-content__item-src(src="/src/assets/images/landing1.jpg" alt="")
      .hero-content__item.js-diagonal-item 
        img.hero-content__item-src(src="/src/assets/images/landing2.jpg" alt="")
      .hero-content__item.js-diagonal-item 
        img.hero-content__item-src(src="/src/assets/images/landing3.jpg" alt="")
      .hero-content__item.js-diagonal-item 
        img.hero-content__item-src(src="/src/assets/images/landing4.jpg" alt="")






