section.container.container--lines.hero-section.hero.case-hero 
  h1.hero__title.title Дизайн поддержка
  .case-offer.before-stack
    h4.case-offer__title Что мы предлагаем
    .case-offer__desc Офигенные, продуманные лендинги с крутым сторителлингом для любого проекта
  .hero__content.hero__content--stack.hero-content.js-stack-container(style="--background-color: #4655D8")
    .hero__content-wrapper
      h2.hero-content__title.title Лендинги
      .hero-content-inner.js-hero-content-diagonal 
        .hero-content__item.js-diagonal-item(data-width="430")
          img.hero-content__item-src(src="/src/assets/images/landing1.jpg" alt="")
        .hero-content__item.js-diagonal-item(data-width="430") 
          img.hero-content__item-src(src="/src/assets/images/landing2.jpg" alt="")
        .hero-content__item.js-diagonal-item(data-width="430") 
          img.hero-content__item-src(src="/src/assets/images/landing3.jpg" alt="")
        .hero-content__item.js-diagonal-item(data-width="430") 
          img.hero-content__item-src(src="/src/assets/images/landing4.jpg" alt="")
      .hero__content-desc 
        p.hero__content-desc-item Мы создаём посадочные страницы, на которых у ваших потенциальных клиентов есть только один путь — оставить заявку.
        p.hero__content-desc-item Лендинг позволит презентовать ваш товар или услугу как можно скорее, не теряя времени (и бюджета) на долгие этапы разработки. 
  .hero__content.hero__content--stack.hero-content.js-stack-container(style="--background-color: var(--black)")
    .hero__content-wrapper
      h2.hero-content__title.title Лендинги
      .hero-content-inner.js-hero-content-diagonal 
        .hero-content__item.js-diagonal-item(data-width="430")
          img.hero-content__item-src(src="/src/assets/images/landing1.jpg" alt="")
        .hero-content__item.js-diagonal-item(data-width="430") 
          img.hero-content__item-src(src="/src/assets/images/landing2.jpg" alt="")
        .hero-content__item.js-diagonal-item(data-width="430") 
          img.hero-content__item-src(src="/src/assets/images/landing3.jpg" alt="")
        .hero-content__item.js-diagonal-item(data-width="430") 
          img.hero-content__item-src(src="/src/assets/images/landing4.jpg" alt="")
      .hero__content-desc 
        p.hero__content-desc-item Мы создаём посадочные страницы, на которых у ваших потенциальных клиентов есть только один путь — оставить заявку.
        p.hero__content-desc-item Лендинг позволит презентовать ваш товар или услугу как можно скорее, не теряя времени (и бюджета) на долгие этапы разработки. 
  .hero__content.hero__content--stack.hero-content.js-stack-container(style="--background-color: var(--green)")
    .hero__content-wrapper
      h2.hero-content__title.title Лендинги
      .hero-content-inner.js-hero-content-diagonal 
        .hero-content__item.js-diagonal-item(data-width="430")
          img.hero-content__item-src(src="/src/assets/images/landing1.jpg" alt="")
        .hero-content__item.js-diagonal-item(data-width="430") 
          img.hero-content__item-src(src="/src/assets/images/landing2.jpg" alt="")
        .hero-content__item.js-diagonal-item(data-width="430") 
          img.hero-content__item-src(src="/src/assets/images/landing3.jpg" alt="")
        .hero-content__item.js-diagonal-item(data-width="430") 
          img.hero-content__item-src(src="/src/assets/images/landing4.jpg" alt="")
      .hero__content-desc 
        p.hero__content-desc-item Мы создаём посадочные страницы, на которых у ваших потенциальных клиентов есть только один путь — оставить заявку.
        p.hero__content-desc-item Лендинг позволит презентовать ваш товар или услугу как можно скорее, не теряя времени (и бюджета) на долгие этапы разработки. 



