section.container.container--lines.section
  h2.section-title.title.cta-title Узнайте, что мы можем предложить — это ничего не стоит
  .cta 
    form.cta-form.form(action="")
      label.form__label
        input.form__input(type="text" placeholder="Ваше имя*")
      label.form__label
        input.form__input(type="text" placeholder="Ваше имя*")
      label.form__label
        input.form__input(type="text" placeholder="Ваше имя*")
      label.form__label
        input.form__input(type="text" placeholder="Ваше имя*")
      label.form__label.form__label--full
        input.form__input(type="text" placeholder="Бюджет")
      .form__block-attachment
        label.form__label.form__label--full
          textarea.form__input.form__input--textarea(type="text" placeholder="Расскажите о проекте")
        span.files-list 
        label.form__label.form__label--file
          input.form__input.form__input--file(type="file" multiple)
      .form__block-bottom
        label.form__label.form__label--full
          input.form__input.form__input--checkbox(type="checkbox")
          span.form__checkbox-text Я согласен с условиями 
            a.form__checkbox-link(href="") обработки персональных данных 
        button.form__submit.btn.btn--primary
          span  Отправить
        button.form__submit.btn.btn--primary-2
          span  Отправить


