section.container.container--lines.section.more-case-section
  h2.section-title.title.more-case-section__title А еще мы делаем
  .more-case.js-more-case-slider.swiper 
    .swiper-wrapper 
      a.more-case__item.swiper-slide(href="" style="--case-background: var(--green")
        .more-case__image 
          .more-case__icon 
            img.more-case__src(src="/src/assets/images/case.jpg" alt="")
        .more-case__info
          h4.more-case__title.title Корпоративный сайт
          p.more-case__desc Ваше «посольство» в интернете: многостраничный сайт, который презентует компанию потребителям
      a.more-case__item.swiper-slide(href="" style="--case-background: var(--green")
        .more-case__image 
          .more-case__icon 
            img.more-case__src(src="/src/assets/images/case.jpg" alt="")
        .more-case__info
          h4.more-case__title.title Корпоративный сайт
          p.more-case__desc Ваше «посольство» в интернете: многостраничный сайт, который презентует компанию потребителям
      a.more-case__item.swiper-slide(href="" style="--case-background: var(--green")
        .more-case__image 
          .more-case__icon 
            img.more-case__src(src="/src/assets/images/case.jpg" alt="")
        .more-case__info
          h4.more-case__title.title Корпоративный сайт
          p.more-case__desc Ваше «посольство» в интернете: многостраничный сайт, который презентует компанию потребителям




