section.container.container--lines.hero-section.hero.case-hero 
  h1.hero__title.title Команда Einzelwerk
  p.hero__desc Ясно формулируем для себя, что наш главный ресурс и преимущество – сработанная команда. 
  .hero__content.hero-content
    img.hero-content__preview(src="/src/assets/images/team.jpg" alt="")



