section.container.container--lines.section.services-more-section
  h2.section-title.title.services-more-section__title А еще мы делаем
  .services-more.js-services-more-slider.swiper 
    .swiper-wrapper 
      a.services-more__item.swiper-slide(href="" style="--case-background: var(--green")
        .services-more__image 
          .services-more__icon 
            img.services-more__src(src="/src/assets/images/case.jpg" alt="")
        .services-more__info
          h4.services-more__title.title Корпоративный сайт
          p.services-more__desc Ваше «посольство» в интернете: многостраничный сайт, который презентует компанию потребителям
      a.services-more__item.swiper-slide(href="" style="--case-background: var(--green")
        .services-more__image 
          .services-more__icon 
            img.services-more__src(src="/src/assets/images/case.jpg" alt="")
        .services-more__info
          h4.services-more__title.title Корпоративный сайт
          p.services-more__desc Ваше «посольство» в интернете: многостраничный сайт, который презентует компанию потребителям
      a.services-more__item.swiper-slide(href="" style="--case-background: var(--green")
        .services-more__image 
          .services-more__icon 
            img.services-more__src(src="/src/assets/images/case.jpg" alt="")
        .services-more__info
          h4.services-more__title.title Корпоративный сайт
          p.services-more__desc Ваше «посольство» в интернете: многостраничный сайт, который презентует компанию потребителям




