section.container.container--lines.hero-section.hero.case-hero 
  h1.hero__title.title Лендинги
  .services-offer
    h4.services-offer__title Что мы предлагаем
    .services-offer__desc Офигенные, продуманные лендинги с крутым сторителлингом для любого проекта
  .hero__content.hero-content(style="--background-color: #4655D8")
    .hero-content-inner 
      .hero-content__image 
        img.hero-content__image-src(src="/src/assets/images/landings.png" alt="")






