include ../inc/mixins/svg-sprite
include ../inc/mixins/include

include ../inc/layout/header.pug
main.main
  include ../inc/blocks/services-hero.pug
  include ../inc/blocks/services-features.pug
  include ../inc/blocks/black-bg-block.pug
  include ../inc/blocks/portfolio.pug
  include ../inc/blocks/work-progress.pug
  include ../inc/blocks/cta.pug
  include ../inc/blocks/more-case.pug
include ../inc/layout/footer.pug
