.case-features {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  &__title {
    font-size: 40px;
  }
  &__list {
    max-width: 660px;
  }
  &__heading {
    font-family: var(--font);
    font-size: 20px;
    margin: 0 0 32px 0;
  }
  &__desc {
    line-height: 150%;
  }
  &__item {
    margin: 0 0 40px 0;
    padding-bottom: 40px;
    border-bottom: 1px solid var(--gray200);
    &:last-child {
      margin: 0;
      padding: 0;
      border: none;
    }
  }
}

.case-section {
  padding-bottom: 120px;
}