.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px 40px;
}

.cta-title {
  margin: 0 0 72px 0;
}

.form {
  .files-list {
    font-size: 16px;
    color: var(--gray500);
    grid-column: span 2;
    display: none;
    &.attached {
      display: inline-block;
    }
  }
  &__block-attachment {
    grid-column: span 2;
    position: relative;
    height: 120px;
  }
  &__block-bottom {
    display: flex;
    flex-direction: column;
    grid-column: span 2;
  }
  &__submit {
    grid-column: span 2;
    align-self: flex-start;
    margin: 60px 0 0;
  }
  &__label {
   
    display: block;

    &--full {
      grid-column: span 2;
    }
    &--file {
      width: 20px;
      height: 20px;
      background: url(../images/icons/clip.svg);
      background-repeat: no-repeat;
      background-size: contain;
      display: block;
      position: absolute;
      right: 0;
      bottom: 24px;
    }
  }
  &__input {
    width: 100%;
    border-bottom: 1px solid var(--gray200);
    padding-bottom: 24px;
    padding-left: 2px;
    box-sizing: border-box;
    color: var(--gray300);
    letter-spacing: -0.015em;
    transition: color 300ms;
    &:focus {
      color: var(--gray500);
    }
    &::placeholder {
      color: inherit;
    }
    &--file {
      display: none;
    }
    &--textarea {
      padding: 0;
      height: 120px;
    }
    &--checkbox {
      border: none;
      position: fixed;
      left: -99999px;
      &:checked {
        ~ .form__checkbox-text {
          &:before {
            background: url(../images/check.svg);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 16px;
          }
        }
      }
    }
  }
  &__checkbox-text {
    &:before {
      content: "";
      width: 28px;
      height: 28px;
      border: 1px solid var(--gray200);
      border-radius: 4px;
      display: inline-block;
      vertical-align: middle;
      margin: 0 16px 0 0;
    }
  }
  &__checkbox-link {
    color: var(--gray400);
  }
}
.cta-heading {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 72px;
  .cta-title {
    margin: 0;
  }
}
.cta-manager {
  max-width: 364px;
  display: flex;
  &__image {
    width: 100px;
    height: 100px;
    flex: 1 0 auto;
    margin: 0 32px 0 0;
  }
  &__image-src {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__name {
    font-size: 14px;
    font-family: var(--font);
    margin-bottom: 8px;
  }
  &__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    color:var(--gray500)
  }
}
