.hero-section {
  padding-top: 60px;
}

.hero-row {
  display: flex;
  justify-content: space-between;
}



.hero {
  &__title {
    font-size: 64px;
    max-width: 893px;
    line-height: 112%;
  }
  &__content {
    margin: 80px 0 0;
    height: 0;
    overflow: hidden;
    width: 100%;
    padding-bottom: calc(765px / 1360px * 100%);
    position: relative;
    cursor: pointer;
    &--stack {
      margin: 0;
    }
  }
  &__desc {
    margin: 64px 0 0;
    font-family: var(--font);
    font-size: 24px;
    line-height: 133%;
    max-width: 651px;
  }
  + .section {
    --gap-y: 120px;
  }
}

.hero-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-family: var(--font);
  font-weight: 350;
  margin: 10px 0 0;
  &__item {
    font-size: 24px;
    line-height: 133%;
    position: relative;
    align-self: flex-start;
    margin: 0 0 20px 0;
    &:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -4px;
      width: 100%;
      height: 1.5px;
      background: var(--black);
    }
  }
}

.video {
  height: 0;
  overflow: hidden;
  width: 100%;
  padding-bottom: calc(765px / 1360px * 100%);
  position: relative;
  cursor: pointer;
  &:hover {
    .svg-icon {
      transform: scale(1.2);
    }
  }
  &__preview {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 3;
      background: var(--gray200);
      opacity: 0.72;
    }
  }
  &__src {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  &__play {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 4;
    transform: translate(-50%, -50%);
    .svg-icon {
      transition: 0.75s var(--bezier);
    }
  }
}

.hero-content {
  background-color: var(--background-color);
  padding-bottom: calc(800px / 1360px * 100%);

  .hero__content-wrapper {
    color: var(--white);
    padding: 40px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    .hero-content-inner {
      position: relative;
      left: auto;
      top: auto;
      transform: none;
      margin: 0 auto;
      height: 450px;
      max-width: 1260px;
      .hero-content__item {
        &:before {
          padding-bottom: calc(266px / 430px * 100%);
        }
      }
    }
  }
  &__item {
    position: absolute;
    left: 0;
    bottom: 0;
    will-change: transform;
    &:before {
      content: "";
      padding-bottom: 100%;
      display: block;
    }
    &:first-child {
      margin: 0;
    }
  }
  &__item-src {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
    position: absolute;
    left: 0;
    top: 0;
    border: 4px solid var(--black);
    border-radius: 8px;
    overflow: hidden;
  }
  &__title {
    font-size: 32px;
  }
}

.hero__content-desc {
  max-width: 1220px;
  width: 100%;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0 0;
  column-gap: 100px;
  &-item {
    line-height: 156%;
    font-weight: 400;
    flex: 1;
    &:last-child {
      margin: 0;
    }
  }
}

.hero-content-inner {
  position: absolute;
  max-width: 1200px;
  height: 615px;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
