@use "../utils/mixins" as *;

.more-link-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 0;
  margin: 80px 0 0;
  border-top: 1px solid var(--gray200);
  border-bottom: 1px solid var(--gray200);
  position: relative;
  overflow: hidden;
  text-align: center;
  position: relative;
  overflow: hidden;

  @include media(md) {
    margin-top: 50px;
  }
  .inner-text {
    position: relative;
    z-index: 2;
  }
  &:before,
  &:after {
    position: absolute;
    top: 50%;
    content: "";
    width: 20px;
    height: 20px;
    background-color: var(--black);
    border-radius: 50%;
  }
  &:before {
    left: -20px;
    transform: translate(-50%, -50%);
  }
  &:after {
    right: -20px;
    transform: translate(50%, -50%);
  }
  &:hover {
    color: var(--white);
    &:before {
      animation: criss-cross-left 1.2s both;

      animation-direction: alternate;
    }
    &:after {
      animation: criss-cross-right 1.2s both;

      animation-direction: alternate;
    }
  }
}
